@page "/recipes"

@using Recipes.Shared.Models
@using Recipes.Shared.Paging
@using Microsoft.AspNetCore.Authorization 
@using System.Collections.Generic

@using Microsoft.AspNetCore.WebUtilities
@using Newtonsoft.Json

@inject IJSRuntime Js
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager

<h2 class="ma-6">Recipes - Page </h2>




@code {

}
